header {
    color: white;
    width: 100%;
    padding: 1rem;
    text-align: center;
    height: 3.75rem; /* 60px / 16px/rem = 3.75rem */
  }
body {
  background: linear-gradient(to right top, #350000, #41060a, #4e0f11, #5c1915, #692219, #71281b, #792d1e, #813320, #853622, #893924, #8e3c26, #923f28);
  /* Elimina estos elementos predeterminado del navegador */
  margin: 0;
  padding: 0;
  /*flexbox*/
  min-height: 100vh;
  justify-content: center;
}
h2 {
  color: white;
}
.filter-section {
  color: white;
}
.sort-section{
  color: white;
}
ul {
  list-style: none;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  
}
li {
  /*flex: 1;*/
  width: 90%;
  height: 100%;
  margin: 1%;
}
.exercise-card {
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; /* Cada tarjeta ocupará el 48% del ancho disponible */
  padding: 2%;
  border-radius: 5px;
  text-align: center;
}

/*#filter, #sort {
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}*/
.exercise-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
footer {
  background-color: #333;  /* Aplica un fondo gris oscuro al pie de página */
  color: white;  /* Establece el color del texto en blanco */
  text-align: center;  /* Centra el texto dentro del pie de página */
  padding: 1%;  /* Añade espacio interno (padding) dentro del pie de página */
  width: 100%;  /* Asegura que el pie de página ocupe todo el ancho de la pantalla */
 /* position: fixed;   Fija el pie de página en la parte inferior de la ventana */
  bottom: 0;  /* Coloca el pie de página en la parte inferior de la pantalla */
}

